# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Distribution and packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
.env/

# IDE and editor files
.vscode/
.idea/
*.pydevproject
*.pyc
*.sage.py
*.swp
*~

# Local development settings
settings.ini

# Miscellaneous
*.log
*.bak
*.tmp
*.db
*.sqlite3
*.csv
*.json

# Ignore specific files or directories
my_secret_file.txt
logs/





# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
